node_modules/
.DS_Store
dist/
.env
*.log

# Python
.venv/
__pycache__/
*.pyc
# AI Models Data/Temp
ai_models/*/data/
ai_models/*/temp/
ai_models/*/scratch/
temp/
saved_models/data/
imagenet_classes.txt
