node_modules/
.DS_Store
dist/
.env
.env.local
*.log

# Python
.venv/
__pycache__/
*.pyc

# AI Model Data (Too large for GitHub)
ai_models/*/data/
ai_models/*/scratch/
ai_models/*/temp/
temp/
imagenet_classes.txt
